.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerinputlb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.containerinputlb label {
  min-width: 60px;

  text-align: center;
}
