* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-y: scroll;
  background-color: #111;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 400;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
