.main {
  background: url("https://images8.alphacoders.com/131/1314568.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh);

  margin: 0;
  padding: 0;
}
