.container {
  display: flex;

  justify-content: center;
  align-items: center;
}
.input {
  width: 200px;

  padding: 7px;
  margin: 7px;
}

.label {
  text-align: center;

  padding: 20px;
  min-width: 120px;
  font-size: 1rem;
}
