.container {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: auto;
}
.container h1 {
  margin: 50px auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1.5fr; /* Divide em 3 colunas de tamanhos iguais */
  gap: 10px; /* Espaçamento entre os filhos */
  width: 70%; /* Opcional: ajuste a largura do container conforme necessário */
}
.info h4 {
  margin: 20px auto;
  text-transform: uppercase;
}
.info p {
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 6px;
}
.childOne {
  background-color: #111;
  padding: 3px;
  border: 1px solid #333;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.childTwo {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 0.25rem;
}
.childThree {
  border: 1px solid #333;
  border-radius: 0.25rem;
  max-height: 700px;
  width: auto;
}
.childTwo h4 {
  margin: 20px auto;
}
.childTwo p {
  text-align: left;
  text-indent: 2%;
  line-height: 30px;
}
.childThree iframe {
  height: 50%;
}
.childThree img {
  height: 50%;
  border-radius: 0.25rem;
}
.img {
  width: 100%;
  height: 420px;
  border-radius: 0.25rem;
}

.nota {
  margin-top: 15px;

  width: 100px;
  float: right;
  font-weight: 600;
  color: #fff;
}
.notanmr {
  background-color: green;
  padding: 10px;
  border-radius: 50%;
  color: #111;
}
.highRating {
  background-color: green;
}
.lowRating {
  background-color: yellow;
}

.ep {
  color: #fff;
}
@media (max-width: 700px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 140px;
  }
  .childTwo {
    padding: 30px;
  }
  .childThree {
    height: 100%;
  }
  .childThree iframe {
    height: 320px;
  }
  .childThree img {
    height: 500px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1000px) {
  .content {
    width: 90%;
    grid-template-columns: 1fr 1fr; /* Agora temos duas colunas */
    gap: 10px; /* Espaçamento entre os filhos */
  }
  .childOne,
  .childTwo {
    grid-column: span 1; /* Cada um dos filhos ocupa uma coluna inteira */
  }

  .childTwo {
    padding: 30px;
  }

  .childThree {
    grid-column: span 2; /* childThree ocupa duas colunas, uma linha inteira */
    display: flex; /* Ocupa toda a largura da linha */
    order: 3; /* Coloca childThree na linha inferior */
  }
}
@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .content {
    width: 90%;
  }
}
