.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.list {
  display: flex;
  gap: 30px;
}
.btn {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  font-weight: 600;

  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #333;
  background-color: #fff;
}
.content {
  position: relative;
  width: 200px;
  height: 280px;
}
.title {
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.98rem;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
}

.nota {
  background-color: green;
  padding: 10px;
  border-radius: 50%;
  font-weight: 600;
}
.highRating {
  background-color: green;
}
.lowRating {
  background-color: yellow;
}

.ep {
  color: #fff;
}
